.item-group {
  display: flex;
  margin-bottom: 5px;
}

.item-group_link {
  display: flex;
  border: 1px solid #000000;
  width: fit-content;
  margin-bottom: 2px;
  border-radius: 5px;
}

.item-group div {
  padding: 5px 10px;
  width: 200px;
  border-right: 1px dotted #000000;
}

.item-group div:last-child {
  border-right: 0px;
}

.item-group_delete {
  padding: 6px 10px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: 0.5s;
  display: inline-block;
  font-size: 15px;
  height: 20px;
  margin-left: 5px;
}

.item-group_delete:hover {
  background: #ff0000;
}
